li{
    border-bottom: 2px solid black;
    background: lightsteelblue;
    padding: 5px;
}

.glyphicon{
    color: black;
    float: right;
}

#grey{
    background: lightslategray;
}

body{
    background: dimgrey
}